body{
  display: grid;
  /* align-items: center;
  justify-content: center;
  align-content: center; */
  background-color: #FFBDA2;
}
input{
  width: 100%;
  height: 40px;
  color: black;

}
.card{
  background-color: #0C0D29;
  box-shadow: -10px 10px 5px 5px #F0A384;
  padding: 20px;
   color: white;
}
h1{
  text-align: center;
}
.option{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
label{
  color:  #F0A384;
 
}
.password-result{
  display: flex;
  margin-bottom: 20px;
}
.btn{
  background-color: #181934;
  color:  #fff;
  border: 0;
  
}
.btn-sub{
  background-color: #181934;
  color:  #fff;
  border: 0;
  padding: 10px 30px;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-top: 10px;
  border: 1px solid white;
  display: flex;
  margin: auto;
  font-weight: bolder;
  
}
.button{
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-weight: bolder;
}
@media only screen and (min-width: 768px){
  .card{
    width: 100%;
  }
  
}